.section {
  padding-right: 5.5%;
  padding-left: 5.5%;
}

.section__title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 23px;
  border-bottom: 1px solid #fff;
  letter-spacing: -0.88px;
}

@media screen and (max-width: 850px) {
  .section {
    padding-right: 6.5%;
    padding-left: 6.5%;
  }
}