.footer {
  padding: 79px 5.5% 0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-areas:
    'text text'
    'copyright links';
  max-width: 1140px;
  margin: 0 auto;
}

.footer__text {
  grid-area: text;
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  color: #8b8b8b;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #424242;
}

.footer__copyright {
  grid-area: copyright;
  padding: 20px 0;
  font-size: 13px;
  font-weight: 400;
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: end;
  gap: 20px;
  padding: 20px 0;
  margin: 0;
  list-style: none;
}

.footer__list-item {
  display: block;
  text-align: right;
}

.footer__link {
  text-decoration: none;
  grid-area: links;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  transition: opacity 0.3s linear;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 850px) {
  .footer {
    padding-right: 4%;
    padding-left: 4%;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    grid-template-areas:
      'text'
      'links'
      'copyright';
    justify-content: normal;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__links {
    grid-template: repeat(2, auto) / 1fr;
    justify-items: center;
    gap: 12px;
  }

  .footer__link {
    font-size: 12px;
  }

  .footer__copyright {
    padding-top: 10px;
    text-align: center;
    color: #8B8B8B;
    font-size: 12px;
  }
}
